<span class="achievement-badge achievement-badge--{{ achievement.tone }}" role="img" aria-label="{{ achievement.title }} badge">
  <svg viewBox="0 0 96 104" aria-hidden="true">
    <path class="achievement-badge__shadow" d="M48 2 90 25v55L48 103 6 80V25Z"/>
    <path class="achievement-badge__rim" d="M48 7 84 28v49L48 97 12 77V28Z"/>
    <path class="achievement-badge__bevel" d="M48 11 80 29v46L48 93 16 75V29Z"/>
    <path class="achievement-badge__face" d="M48 15 75 31v41L48 87 21 72V31Z"/>
    <path class="achievement-badge__shine" d="M48 17 72 31v7L48 25 24 38v-7Z"/>
    <path class="achievement-badge__lower-shine" d="m22 68 26 15 26-15v4L48 87 22 72Z"/>
    {{ if achievement.tone === "green" }}
      <g class="achievement-badge__motif achievement-badge__motif--trees">
        <path d="m27 51 6-10 6 10h-3v6h-6v-6Zm13-3 8-17 8 17h-4v10h-8V48Zm16 3 6-11 7 11h-4v6h-6v-6Z"/>
        <path class="achievement-badge__motif-detail" d="M48 34v22m-5-15 5 4 5-5"/>
      </g>
    {{ else if achievement.tone === "blue" }}
      <g class="achievement-badge__motif achievement-badge__motif--mountains">
        <path d="m25 55 15-21 8 10 7-9 17 20Z"/>
        <path class="achievement-badge__motif-detail" d="m40 34 4 12 4-2 4 5 3-14m-26 20h39"/>
      </g>
    {{ else if achievement.tone === "orange" }}
      <g class="achievement-badge__motif achievement-badge__motif--globe"><circle cx="48" cy="43" r="15"/><path d="M33 43h30M36 35h24M36 51h24M48 28c5 5 8 10 8 15s-3 11-8 15c-5-4-8-10-8-15s3-10 8-15Z"/></g>
    {{ else }}
      <g class="achievement-badge__motif achievement-badge__motif--cloud"><path d="M31 53h32c5 0 8-3 8-7s-3-8-8-8h-1c-2-7-8-11-15-10-7 1-11 5-12 12-5 0-9 3-9 7s2 6 5 6Z"/><path class="achievement-badge__sparkle" d="m65 29 1.5 3.5L70 34l-3.5 1.5L65 39l-1.5-3.5L60 34l3.5-1.5Z"/></g>
    {{ /if }}
  </svg>
  <span class="achievement-badge__label">{{ achievement.badgeLabel }}</span>
</span>
