<picture class="flight-thumbnail" data-flight-thumbnail-picture>
  {{ if typeof flight.thumbnail !== 'undefined' && flight.thumbnail }}<source media="(max-width: 767px)" srcset="{{ flight.thumbnail.squareUrl }}" type="image/webp">{{ /if }}
  <img data-flight-thumbnail src="{{ if typeof flight.thumbnail !== 'undefined' && flight.thumbnail }}{{ flight.thumbnail.wideUrl }}{{ else }}/flight-thumbnail-fallback.webp{{ /if }}" alt="Flight territory preview" loading="lazy" width="800" height="450">
</picture>
