<svg class="app-icon{{ if typeof className !== 'undefined' && className }} {{ className }}{{ /if }}" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><use href="/images/app-ui/icons.svg#icon-{{ name }}"></use></svg>
