DATABASE_URL=postgres://localhost/glidehero
VALKEY_URL=redis://localhost:6379
ENVIRONMENT=development
PORT=3000
SESSION_COOKIE_NAME=glidehero_session
SESSION_TTL_SECONDS=604800
BUCKET_SECRET=
BUCKET_ID=
BUCKET_NAME=
BUCKET_TILES_NAME=
BUCKET_URL=
BUCKET_FOLDER=glidehero-dev
MAPTILER_API_KEY=
MAPTILER_CREDENTIALS=
KOFI_VERIFICATION_TOKEN=
THERMAL_KK_SOURCE_HOSTNAME=glidehero.com
