{{ layout "layouts/appLayout.vto" }}
  {{ include "components/unauthenticatedLanding.vto" {
    loginError,
    signupError,
    loginEmail,
    signupEmail,
    signupDisplayName
  } }}
{{ /layout }}
