<span class="initials-avatar{{ if typeof size !== 'undefined' && size }} initials-avatar--{{ size }}{{ /if }}"{{ if typeof color !== 'undefined' && color }} style="--avatar-color: {{ color }}"{{ /if }} aria-hidden="true">{{ initials }}</span>
