<header class="section-heading">
  <div>{{ if typeof icon !== 'undefined' && icon }}{{ include "authenticated/components/icon.vto" { name: icon } }}{{ /if }}<h2>{{ title }}</h2></div>
  {{ if typeof action !== 'undefined' && action }}<a href="#{{ actionId }}">{{ action }}{{ include "authenticated/components/icon.vto" { name: "arrow-right" } }}</a>{{ /if }}
</header>
